<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400&display=swap" rel="stylesheet">
            <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/css/style/gruvbox-light.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
    <main class="main-container">
    {% block body %}{% endblock %}
    </main>
        {% block javascripts %}
            <script src="{{ asset('assets/js/highlight.pack.js') }}"></script>
            <script>hljs.initHighlightingOnLoad();</script>
        {% endblock %}
    </body>
</html>
