{% extends 'base.html.twig' %}

{% block body %}
    <main class="main-container">
        <h1>Welcome</h1>
        <p>My name is Florent and I like to code. I'm a junior web developper who likes to code in PHP and Ruby.
        This website is developed with Symfony.</p>
{#        {{ postList }}#}
    </main>



{% endblock %}
